body {
  background-image: url(../styles/dot-grid.png);
  background-blend-mode: luminosity;
  background-position: center;
  background-color: #00db53;
  -webkit-font-smoothing: antialiased;
  height: 300vh;
}
